/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides.css.less
 *= require_self
 */


@import 'partials/dep001s.scss';
@import 'partials/dep002s.scss';


h1
{
	background-color: #ccffcc;
	color: #000033;
	text-align: center;
}
h3
{
	background-color: #ccccff;
	color: #000033;
	font-size: 115%;
}

.dep_ul
{
	list-style-type: none;
}
.dep_ul li
{
	display: inline;
	margin-left: -7px;
	padding-right: 3px;
}
.move-left
{
	text-align: left;
}
.dep_ul:nth-child(odd)
{
	background-color: #EBFFEB;
}
.dep_ul:nth-child(even)
{
	background-color: #E0F9FF;
}